.bg-dblue {
	background-color: #fff;
	color: #1f2733;
}

body {
	margin: auto 0px;
}
.padding-10 {
	padding: 10px;
}

.text-right {
	float: right;
}

.align-middle {
	padding-top: 20px;
	padding-bottom: 20px;
}